.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}
.seccion {
  background-color: rgb(234, 241, 229);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 20px;
  width: 584px;
  height: 584px;
}
.img {
  width: 290px;
  height: 290px;
  border: 1px solid black;
}
#img-1 {
  background-image: url(assets/img-1.png);
  object-fit: cover;
}
#img-2 {
  background: url(assets/img-2.png);
  object-fit: cover;
}
#img-3 {
  background: url(assets/img-3.png);
  object-fit: cover;
}
#img-4 {
  background: url(assets/img-4.png);
  object-fit: cover;
}
.over {
  background-color: aqua;
}
